
.moving-lant {
    width: calc(5vw);

    position: absolute;
    rotate: -10deg;
    right: 19%;
    bottom: 20%;

    animation: MoveUpDown 4s ease-in-out infinite,
    pulse-lantern 2s ease-in-out infinite;
}
.moving-lant-2 {
    width: calc(8vw);

    position: absolute;
    rotate: 30deg;
    right: 10%;
    bottom: 35%;

    animation-delay: 1s;
    animation: MoveUpDown 5s ease-in-out infinite,
    pulse-lantern 2s ease-in-out infinite; 
}
.moving-hero{
    /* width: calc(20vw); */
    height: 80vh;
    
    position: absolute;
    left: 5%;
    bottom: 10%;

    animation: MoveUpDown 4s ease-in-out infinite,
    pulse 3s ease-in-out infinite;
}
.main-megatron-buttons{
    display: flex;
    flex-direction: column;
    z-index: 200; 
    left: 30%; 
    height: 50vh;
    bottom: 20%; 
    position: absolute; 
    justify-content: space-between;
    border: none; 
    filter: drop-shadow(2px 2px 10px black);
}
.main-megatron-buttons > div{
    display: flex;
    flex-direction: row;
}
.main-megatron-first-button img{
    opacity: 0.8;
    width: 100%;
    padding: 0 10px 0 10px; 
    transition: .5s;
}
.main-megatron-first-button:hover img
{
    opacity: 1;
}
.main-megatron-buttons > div > a{
    width: 10vw;
    opacity: 0.5;
    transition: .5s;
    margin: 0 auto 0 auto;
}
.main-megatron-buttons > div > a:hover{
    /* width: 10vw; */
    opacity: 1;
}


@media only screen and (max-width: 1100px)
{
    .main-megatron-buttons > div > a{
        /* opacity: 1;JGN LP */
    }
    .main-megatron-first-button img{
        width: 50vw;
    }
   
    .moving-hero{
        /* max-height: 70vh; */
        /* padding: 50%; */
        /* top: 50%; */
        /* bottom: 20vh; */
        height: 70vh;
    }
    .main-megatron-buttons div{
        flex-direction: column;
    }
    .main-megatron-buttons{
        /* right: 100px; */
        left: 30%;
        width: 70vw;
    }
    .main-megatron-buttons > div > a{
        /* margin: 0 20px 0 auto; */
        width: fit-content;
        /* border: solid black; */
    }
}
@media only screen and (max-width: 670px)
{
    .moving-hero{
        /* max-height: 70vh; */
        /* padding: 50%; */
        /* top: 50%; */
        /* bottom: 20vh; */
        height: 60vh;
        left: 1%;
        animation: MoveUpDownForShrinked 4s ease-in-out infinite,
        pulse 3s ease-in-out infinite;
    }
    .moving-lant{
        animation: MoveUpDownForShrinked 4s ease-in-out infinite,
    pulse-lantern 2s ease-in-out infinite;
    }
    .moving-lant-2{
        animation: MoveUpDownForShrinked 5s ease-in-out infinite,
    pulse-lantern 2s ease-in-out infinite; 
    }

}
@media only screen and (max-width: 460px)
{
    .main-megatron-buttons{
        left: 0;
        width: 100vw;
    }
    .main-megatron-first-button{
        width: 100%;
        /* opacity: 0; */
        /* display: none; */
    }
    .moving-hero{
        display: none;
        /* max-height: 70vh; */
        /* padding: 50%; */
        /* top: 50%; */
        /* bottom: 20vh; */
        height: 50vh;
        left: 1%;
        animation: MoveUpDownForShrinked 4s ease-in-out infinite,
        pulse 3s ease-in-out infinite;
    }
    

}
@keyframes MoveUpDownForShrinked {
    0%, 100% {
        bottom: 5vh;
    }
    50% {
        bottom: 10vh;
    }
}
@keyframes MoveUpDown {
    0%, 100% {
        bottom: 3vh;
    }
    50% {
        bottom: 7vh;
    }
}
@keyframes pulse {
    0% { filter: drop-shadow(3px 4px 6px rgb(0, 0, 0)) }
    50% { filter: drop-shadow(5px 12px 19px rgb(0, 0, 0)) }
    100% { filter: drop-shadow(3px 4px 6px rgb(0, 0, 0)) } 
}
@keyframes pulse-lantern {
    0% { filter: drop-shadow(3px 4px 6px transparent) }
    50% { filter: drop-shadow(0px 0px 19px yellow) }
    100% { filter: drop-shadow(3px 4px 6px transparent) } 
}
@keyframes pulse-stars {
    0% { filter: drop-shadow(3px 4px 6px transparent) }
    50% { filter: drop-shadow(0px 0px 50px yellow) }
    100% { filter: drop-shadow(3px 4px 6px transparent) } 
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes shooting-stars {
    0% {
        transform: rotate(315deg) translateX(0);    
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: rotate(315deg) translateX(-300px);    
        opacity: 0;
    }
}

.main-megatron::before {
    content: "";

    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    
    background: linear-gradient(
        to bottom, 
        rgba(64,64,64,0) 85%, 
        rgb(0, 0, 0, 1) 100%
    ); 
}
.main-megatron {
    background-position: center;
    display: block;

    max-width: calc(200vw);
    width: calc(110vw);
    background-size: cover;
    height: 100vh;

    position: relative;
    resize: horizontal;
    /* padding-bottom: 50%;  */
    background-repeat: no-repeat;
    background-image: url("Images/main-megatron.jpg");
}
.main-megatron > #bg-image{
    overflow-x: hidden;

    width: 100%;

    vertical-align: middle;
}
.main-megatron > #lantern{
    position: absolute;
}

.afterMain{
    z-index: 90;

    margin: 0;

    background-color: black;
    color: white;
}
