.maps-introduce{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
}

.map-logo{
    margin: 0 auto 0 auto;

    width: fit-content;

    transition: .5s;
}
.map-logo:hover{
    filter: drop-shadow(0px 0px 4px #D7B232);

}
.area-1{
    
    background: url('https://genshinhci.files.wordpress.com/2023/03/myramid-pic.png');
}
.area-2{
    
    background: url('https://genshinhci.files.wordpress.com/2023/03/eexorni.png');
}
.area-3{
    
    background: url('https://genshinhci.files.wordpress.com/2023/03/asakuroni.png');
}
.area-4{
    
    background: url('https://genshinhci.files.wordpress.com/2023/03/miramarni.png');
}
.maps-area{
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 25%;
    
    transition: .5s;
}
.maps-area:hover{
    background-size: 130%;

    border: 10px solid white;
    border-right: none;
    border-left: none;
}
.maps-area div{
    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 50px #000000;
}

.moving-lant {
    width: calc(5vw);
    rotate: -10deg;

    position: absolute;
    right: 19%;
    bottom: 20%;

    animation: MoveUpDown 4s ease-in-out infinite,
                pulse-lantern 2s ease-in-out infinite;
}
.moving-lant-2 {
    width: calc(8vw);

    position: absolute;
    rotate: 30deg;
    right: 10%;
    bottom: 35%;

    animation-delay: 1s;
    animation: MoveUpDown 5s ease-in-out infinite,
                pulse-lantern 2s ease-in-out infinite; 
}
.moving-hero{
    height: 80vh;
    
    position: absolute;
    left: 5%;
    bottom: 10%;

    animation: MoveUpDown 4s ease-in-out infinite,
                pulse 3s ease-in-out infinite;
}
.main-megatron-buttons{
    z-index: 200; 

    position: absolute; 
    left: 30%; 
    height: 50vh;
    bottom: 20%; 
    border: none; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    filter: drop-shadow(2px 2px 10px black);
}
.main-megatron-buttons > div{
    display: flex;
    flex-direction: row;
}
.main-megatron-first-button img{
    padding: 0 10px 0 10px; 

    width: 100%;
    opacity: 0.8;

    transition: .5s;
}
.main-megatron-first-button:hover img
{
    opacity: 1;
}
.main-megatron-buttons > div > a{
    opacity: 0.5;
    
    margin: 0 auto 0 auto;

    width: 10vw;

    transition: .5s;
}
.main-megatron-buttons > div > a:hover{
    opacity: 1;
}

.main-megatron::before {
    content: "";
    background: linear-gradient(to bottom, 
                                rgba(64,64,64,0) 85%, 
                                rgb(0, 0, 0, 1) 100%); 

    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    
}
.main-megatron {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://genshinhci.files.wordpress.com/2023/03/main-megatron.jpg");
    background-size: cover;

    position: relative;
    resize: horizontal;

    display: block;
    width: calc(110vw);
    max-width: calc(200vw);
    height: 100vh;
}
.main-megatron > #bg-image{
    overflow-x: hidden;

    width: 100vw;
    vertical-align: middle;
}
.main-megatron > #lantern{
    position: absolute;
}

.after-main{
    background: linear-gradient(to top, 
                                rgba(64,64,64,0) 70%, 
                                rgb(0, 0, 0, 1) 100%), 
                url('https://genshinhci.files.wordpress.com/2023/03/update_bg.png');
    background-size: cover;

    color: white;

    height: 100vh;
    min-height: 800px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.after-main-update-header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    justify-content: center;
}
.after-main-update-header img{
    margin: 0;  

    display: inline-block;
    width: 20vw;
}
.after-main-update-header div{
    display: inline-block;
}
.after-main-update-header div{
    margin: 0;

    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 50px #000000;
    
    width: 30vw;
}
.changing-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-ttl, .weap-ttl{
    z-index: 10000;

    margin: 0 50px 0 50px;

    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    text-shadow: 0px 0px 100px #D7B232;
    
    display: inline-block;

    transition: .5s;
}
.hero-ttl:hover{
    cursor: pointer;
    text-shadow: 0px 0px 10px black; 
    color: #aa8d26;
} 
.weap-ttl:hover{
    cursor: pointer;
    text-shadow: 0px 0px 10px black; 
    color: #aa8d26;
}
.ttl-active{
    color: #D7B332;
    border-bottom: 5px solid #D7B332;
}
.information{
    background-color: rgba(0,0,0,0.5);

    margin: 5% auto 0 auto;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    width: 65%;
    height: 50vh;
    min-height: 360px;
}
.pic{
    width: 40%;
}
.pic img{
    object-position: center;
    object-fit: fill;

    position: relative;
    top: -10%;
    left: -10%;

    width: 120%;
    height: 120%;
}
.pic-desc{
    padding-left: 5%;
    padding-right: 2.5%;

    width: 52.5%;
}
.pic-desc-ttl{
    margin-top: 5%;

    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: justify;
}
.underline{
    background-color: #D7B332;

    width: 30%;
    height: 5px;
}
.pic-desc-full{
    margin-top: 5%;
    margin-bottom: 5%;

    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
    text-shadow: 0px 0px 100px #000000;
}
.star-manage{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.star-manage img{
    margin-right: 5px;
    
    width: auto;
    height: 100%;

}
@keyframes MoveUpDownForShrinked {
    0%, 100% {
        bottom: 5vh;
    }
    50% {
        bottom: 10vh;
    }
}
@keyframes MoveUpDown {
    0%, 100% {
        bottom: 3vh;
    }
    50% {
        bottom: 7vh;
    }
}
@keyframes pulse {
    0% { filter: drop-shadow(3px 4px 6px rgb(0, 0, 0)) }
    50% { filter: drop-shadow(5px 12px 19px rgb(0, 0, 0)) }
    100% { filter: drop-shadow(3px 4px 6px rgb(0, 0, 0)) } 
}
@keyframes pulse-lantern {
    0% { filter: drop-shadow(3px 4px 6px transparent) }
    50% { filter: drop-shadow(0px 0px 19px yellow) }
    100% { filter: drop-shadow(3px 4px 6px transparent) } 
}
@keyframes pulse-stars {
    0% { filter: drop-shadow(3px 4px 6px transparent) }
    50% { filter: drop-shadow(0px 0px 50px yellow) }
    100% { filter: drop-shadow(3px 4px 6px transparent) } 
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes shooting-stars {
    0% {
        transform: rotate(315deg) translateX(0);    
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: rotate(315deg) translateX(-300px);    
        opacity: 0;
    }
}


@media only screen and (max-height: 550px){
    .maps-area div{
        font-size: 15px;
    }
}
@media only screen and (max-height: 500px){
    .maps-area div{
        font-size: 12px;
    }
}
@media only screen and (max-height: 460px){
    .maps-area div{
        display: none;
    }
}

@media only screen and (max-height: 500px) and (orientation: landscape)
{
    .main-megatron-buttons{
        scale: 0.7;
        bottom: 30%;
    }
}
@media only screen and (max-height: 410px) and (orientation: landscape)
{
    .main-megatron-buttons{
        scale: 0.5;
        bottom: 50%;
    }
}
@media only screen and (max-height: 392px) and (orientation: landscape)
{
    .main-megatron-buttons{
        bottom: 30% !important;
    }
}
@media only screen and (max-width: 1100px)
{
    .main-megatron-first-button img{
        width: 50vw;
    }
   
    .moving-hero{
        height: 70vh;
    }
    .main-megatron-buttons div{
        flex-direction: column;
    }
    .main-megatron-buttons{
        /* right: 100px; */
        left: 30%;
        width: 70vw;
    }
    .main-megatron-buttons > div > a{
        /* margin: 0 20px 0 auto; */
        width: fit-content;
        /* border: solid black; */
    }
}

@media only screen and (max-width: 1255px)
{
    .pic-desc-full{
        font-size: 15px;
    }
}
@media only screen and (max-width: 800px)
{
    .after-main-update-header div{
        width: 40vw;
        font-size: 15px;
    }
}
@media only screen and (max-width: 734px)
{
    .pic-desc-full{
        font-size: 12px;
    }
}
@media only screen and (max-width: 520px)
{
    .pic{
        display: none;
    }
    .pic-desc{
        width: 100%;
    }
    .after-main-update-header img{
        display: none;
    }
    .after-main-update-header div{
        width: 80vw;
        font-size: 35px;
    }
}
@media only screen and (max-width: 670px)
{
    .moving-hero{
        /* max-height: 70vh; */
        /* padding: 50%; */
        /* top: 50%; */
        /* bottom: 20vh; */
        height: 60vh;
        left: 1%;
        animation: MoveUpDownForShrinked 4s ease-in-out infinite,
        pulse 3s ease-in-out infinite;
    }
    .moving-lant{
        animation: MoveUpDownForShrinked 4s ease-in-out infinite,
    pulse-lantern 2s ease-in-out infinite;
    }
    .moving-lant-2{
        animation: MoveUpDownForShrinked 5s ease-in-out infinite,
    pulse-lantern 2s ease-in-out infinite; 
    }

}

@media only screen and (max-width: 460px)
{
    .main-megatron-buttons{
        left: 0;
        width: 100vw;
    }
    .main-megatron-first-button{
        width: 100%;
        /* opacity: 0; */
        /* display: none; */
    }
    .moving-hero{
        display: none;
        /* max-height: 70vh; */
        /* padding: 50%; */
        /* top: 50%; */
        /* bottom: 20vh; */
        height: 50vh;
        left: 1%;
        animation: MoveUpDownForShrinked 4s ease-in-out infinite,
        pulse 3s ease-in-out infinite;
    }
    

}