@font-face {
    font-family: 'HYWenHei';
    src: url('../zh-cn.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-image: url('https://genshinhci.files.wordpress.com/2023/03/jenshinbackground.png');
    background-size: cover;
    
    padding:0;
    margin:0;
    
    height: 100vh;

    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-decoration: none;
    color: black;
}

.inside{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imageBG{
    background-image: url('https://genshinhci.files.wordpress.com/2023/03/jenshinbackground.png');
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: bottom;
    
    padding: 100px 0 5vh 0;
    width: 50vw;
    /* border: solid green; */
    height: calc(95vh - 100px);
    min-height: 700px;
}

.register-Area{
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);

    padding: 100px 0 5vh 0;
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50vw;
    height: calc(95vh - 100px);
    min-height: 700px;
}

.logo{
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    margin: 0 auto 2% auto;

    height: 6vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
    display: block;
}
.agreement{
    margin: 3% auto -3% auto;

    display: flex;
    flex-direction: row;
    
    font-family: 'HYWenHei';
    font-size: 15px;
    font-style: normal;
    color: #FFFFFF;
}
.agreement > label{
    margin: auto 0 auto 10px;
    cursor: pointer;
}

.agreement input{
    cursor: pointer;

    margin: 0 0 0 0;

    display: inline-block;
    height: 25px;
    width: 25px;
}

.register{
    margin-bottom: 2.5%;
    margin-top: 2.5%;

    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}
.age-area{
    margin:  1% auto 0 auto;

    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.up-down-buttons{
    position: relative;
    padding: auto;
    margin: auto;
    margin-left: 2%;
    margin-top: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7vh;    
}
.up-down-buttons button{
    cursor: pointer;

    background-color: transparent;

    border: none;
}
.up-down-buttons img:hover{
    filter: drop-shadow(0px 0px 10px white);
}
.age-area button img{
    bottom:0;
    height: 100%;
    width: 100%;

    filter: drop-shadow(0px 0px 10px black);
    transition: .5s;
}



input{
    background-color:#D9D9D9; 
    outline: none; 
    border: 3px solid rgba(255,255,255,0);

    position: relative;
    margin:  2% auto 0 auto;
    padding: 0 3% 0 3%;
    box-sizing: border-box;
    border-radius: 10px;

    width: 60%;
    height: 7vh;
    
    font-weight: bold;
    font-size: 20px;

    transition: .5s;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus{
    border: 3px solid #555;
}
input::placeholder{
    font-family: 'HYWenHei';
    font-size: 20px;
    color: #868686;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.signup{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: #599ABE;

    font-family: 'HYWenHei';
    font-style: normal;
    font-size: 25px;
    margin:5% auto 3% auto;
    color: #FFFFFF;

    width: 40%;
    height: 10vh;

    transition: .5s;
}

.signup:hover{
    background: #D3B032;
}
.copyright{
    text-align: center;
    color: white;
}

.on-error-name::-webkit-input-placeholder, .on-error-usrnm::-webkit-input-placeholder, .on-error-em::-webkit-input-placeholder, .on-error-pw::-webkit-input-placeholder, .on-error-age::-webkit-input-placeholder{
    color: red;
    font-size: 15px;
    
}
#CheckboxWarning{
    padding: 5px 0 5px 0;
    
    font-family: 'HYWenHei';
    font-style: bold;
    font-size: 15px;
    color: red;
}
@media only screen and (max-width: 1278px){
    .on-error-pw::-webkit-input-placeholder{
        font-size: 13px;
    }
}
@media only screen and (max-width: 1228px){
    .on-error-age::-webkit-input-placeholder{
        font-size: 13px;
    }
}
@media only screen and (max-width: 1096px){
    .on-error-pw::-webkit-input-placeholder{
        font-size: 11px;
    }
    .on-error-age::-webkit-input-placeholder{
        font-size: 11px;
    }
}
@media only screen and (max-width: 972px){
    .on-error-em::-webkit-input-placeholder{
        font-size: 13px;
    }
}
@media only screen and (max-width: 900px){
    .imageBG{
        width: 0;
    }
    .register-Area
    {
        width: 100%;
    }
    .register{
        margin: 20px auto 20px auto;
    }
    
}
@media only screen and (max-width: 643px){
    .on-error-pw::-webkit-input-placeholder{
        font-size: 11px;
    }
}
@media only screen and (max-width: 606px){
    .on-error-age::-webkit-input-placeholder{
        font-size: 13px;
    }
}
@media only screen and (max-width: 524px){
    .on-error-age::-webkit-input-placeholder{
        font-size: 11px;
    }
}
@media only screen and (max-width: 475px){
    .on-error-pw::-webkit-input-placeholder{
        font-size: 10px;
    }
    .on-error-em::-webkit-input-placeholder{
        font-size: 13px;
    }
}
@media only screen and (max-width: 606px){
    .on-error-age::-webkit-input-placeholder{
        font-size: 10px;
    }
}
@media only screen and (max-width: 427px){
    .on-error-pw::-webkit-input-placeholder{
        font-size: 9px;
    }
    .on-error-usrnm::-webkit-input-placeholder{
        font-size: 13px;
    }
}
@media only screen and (max-width: 408px){
    .on-error-age::-webkit-input-placeholder{
        font-size: 8px;
    }
    .on-error-em::-webkit-input-placeholder{
        font-size: 11px;
    }
}
@media only screen and (max-width: 385px){
    .on-error-pw::-webkit-input-placeholder{
        font-size: 8px;
    }
    .on-error-usrnm::-webkit-input-placeholder{
        font-size: 11px;
    }
}
@media only screen and (max-width: 343px){
    .on-error-pw::-webkit-input-placeholder{
        font-size: 7px;
    }
    .on-error-em::-webkit-input-placeholder{
        font-size: 9px;
    }
    .on-error-name::-webkit-input-placeholder{
        font-size: 13px;
    }
}
