@font-face {
    font-family: 'HYWenHei';
    src: url('../zh-cn.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar{
    width: calc(0.5vw);

    background: rgba(138, 138, 138, 0.9);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}
::-webkit-scrollbar-thumb {
    background: rgba(217, 217, 217, 0.5);

    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}

body, html{
    min-width: 320px;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
    overflow-x: hidden;

    margin: 0;
	padding: 0;

    height: 100%;
    width: calc(100vw);

    background-color: black;
    
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-decoration: none;
}

.responsive-bar{
    display: none;
}

.other-nav{
    width: 300px;
    
    display: none; position: absolute;
    flex-direction: column;
    margin: 75px calc(50vw - 150px) 0 calc(50vw - 150px);
    z-index: 2000;
    justify-content: center;
}
.other-nav a{
    color: white;   
    transition: .5s;
    font-family: 'HyWenHei';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
}
.other-nav-activated{
    color: #D7B232 !important;
    text-shadow: 0 0 20px #D7B232;
}
nav{
    color: white;
    background: rgba(217, 217, 217, 0.5);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    
    display: flex;
    width: 100%;
    height: 72px;
    justify-content: space-between;

    z-index: 1200;
    position: fixed;
    top: 0;
    left: 0;

    box-sizing: border-box;
    transition: .5s;
}
.onclick{
    background-color: rgba(0, 0, 0, 1);

    border-radius: 0 0 30px 30px;

    height: 225px;
    
}
nav > .nav-left-area{
    background-color: transparent;
    border: none;

    display: flex;
    flex-direction: column;
    width: 25%;
    height: 72px;
    
    margin: 0;
    padding: 0;
    justify-content: center;
}
nav > .nav-left-area > img{
    height: 80%;
    padding: 5px;

    margin: 0;
    object-position: center;

    transition: .5s;
}
nav > .nav-left-area > img:hover{
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.8));
}
nav > .nav-right-area{
    display: flex;
    width: 25%;
    height: 72px;

    position: relative;
    float: right;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0%;
    justify-content: right;
}
nav > ul{
    display: flex;
    width: 50%;
    height: 72px;

    position: relative;
    
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex; flex-direction: row;
    margin-top: -10px;
}
.menu > a{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    align-items: center;
    /* font-weight: bold; */
    text-decoration: none;
    text-transform: uppercase;
    line-height: 40px;

    padding: 0 20px;
    margin-left: 46px;

    height: 72px;
    max-width: calc(50vw / 4) ;
    display: flex;
    justify-items: center;

    transition: .5s; 
}
.menu > a:hover, .nav-right-area > .login-btn:hover{
    color: #FFFFFF;
    text-shadow: 0px 0px 20px #D7B232;
}
.isnt-activated{
    color: rgba(255, 255, 255, 0.5);
}
.is-activated{
   color: white; 
   text-shadow: 0px 0px 20px #D7B332;
}
nav > .nav-right-area > .down-btn{
    background-color: #D3B032;
    border: none;

    height: 100%;
    transition: .5s;  
    cursor: pointer;
}
nav > .nav-right-area >.down-btn > img{
    padding: 10px;
    margin: auto 0 auto 0;

    height: 60%;
}
nav > .nav-right-area > .down-btn:hover{
    background-color: #FFF2C3;
}

nav > .nav-right-area > .login-btn{
    background: transparent;

    
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);

    margin: auto 0 auto 0;
    border: none;
    
    width: 40%;

    transition: .5s;  
}


.footer{
    background-image: linear-gradient(rgb(84, 84, 84), black);

    position: relative; 
    bottom: 0%; 
    margin: 0; 
    padding: 0; 
    
    height: 360px; 
}
.upper-part{
    background-color: #383838;

    position: relative;
    
    height: 19%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: .5s;
}
.upper-left-area{
    height: 100%;
}
.upper-left-area > img{
    background-color: transparent;

    border: none;
    padding: 5px 0 5px 0;

    height: 80%;
    width: calc(100vw/3);

    transition: .5s;
}
.upper-left-area > img:hover{
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.8));
}
.upper-right-area{
    width: calc(100vw / 3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.upper-right-area > a{
    background-color: transparent;

    object-position: center;
    border: none;
    margin-right: 20px;
    margin-left: 20px;

    align-items: center;
}
.upper-right-area > a > img{
    object-position: center;
    padding-top: 5px;

    height: 100%;
    opacity: 0.5;
    align-items: center;

    transition: .5s;
}
.upper-right-area > a > img:hover{
    scale: 1.2;
    opacity: 1;
    filter: none;
}
.upper-mid-area
{
    background-color: transparent;

    color: white;
    text-align: center;

    float: left;
    margin: 0 auto 0 auto;
    border: solid;
    border-color: grey;
    border-radius: 20px;

    width: 60px;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: all ease .3s;
}
.upper-mid-area > img{
    padding: 8px;
    padding-left: 7px;
}
.upper-mid-area > div{
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    transition: all .5s;
}
.upper-mid-area:hover > div{
    width: 50%; 
}
.lower-part{
    gap: 15px;
    margin-top: 50px;

    align-items: center;
    display: flex;
    flex-direction: column;
}
.lower-part .copyright{
    color: white;
}
.lower-part > .conditions-part{
    color: rgba(255, 255, 255, 0.5);

    display: flex;
    flex-direction: row;
}
.lower-part > .conditions-part > a{
    margin-left: 20px;

    transition: all .5s;
}
.lower-part > .conditions-part > a:hover{
    color: #FFFFFF;
}
.bottom-logo{
    width: 50px;
}
.selector
{
    background-color: #D7B332;

    opacity: 1; 
    height: 10px; 

    box-shadow: 0px 7px 25px #817D27;

    transition: .5s;
}

.burger-menu-btn {
    cursor: pointer;

    position: relative;
    margin-right: 5%;
    padding-top: 6px;
    padding-bottom: 6px;

    width: 72px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.5;
    transition: all .5s ease-in-out;
}
.burger-menu-btn:hover{
    opacity: 1;
}
.menu-btn__burger {
    background: transparent;

    border-radius: 2px;

    width: 72px;
    height: 6px;

    transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    background: #fff;
    content: '';

    position: absolute;
    right: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);

    width: 50px;
    height: 5px;

    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-16px);
}
.menu-btn__burger::after {
    transform: translateY(16px);
}
/* ANIMATION */
.burger-menu-btn.open .menu-btn__burger {
    background: transparent;

    transform: translateX(-50px);
    box-shadow: none;
}
.burger-menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.burger-menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
/*TODO*/
@media (min-width: 1201px){
    .burger-menu-btn{
        display: none;
    }
    .other-nav{
        display: none;
    }
}
@media only screen and (max-width: 1200px){
    .login-btn{
        font-size: 10px;
    }
    .down-btn{
        display: none;
    }
    
    nav{
        padding: 0;
        background: rgba(0,0,0,0.3);
    }
    nav ul{
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: #262626;
        float: none;
    }
    
    nav ul li{
        width: 100%;
    }
    nav ul li a{
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: #fff;
        
    }
    nav > .nav-left-area > img{
        height: 60%;
    }
    nav > .nav-left-area, nav > .nav-right-area{
        width: 50%;
        
    height: 72px;
    }

    nav > ul{
        width: 100%;
        display: none;
    }
    nav > ul > li{
        display: block;
        text-align: center;
    }
    
    .upper-right-area{
        display: none;
    }

    .upper-left-area > img{
        width: calc(50vw);
    }
    .upper-mid-area > div{
        width: calc(50vw);
    }
}

@media only screen and (max-width: 610px){
    .conditions-part, .copyright{
        font-size: 15px;
    }
    .bottom-logo{
        width: 30px;
    }
}

@media only screen and (max-width: 420px){
    .login-btn{
        font-size: 10px;
    }
}