.megatron{
    background: linear-gradient(to top, 
                                rgba(0, 0, 0, 1) 0%,
                                rgba(64, 64, 64, 0) 3%), 
                url('Images/Bg1.svg');
    background-size: cover;

    width: 100vw;
    height: 100vh;
    min-height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.genshinlogo{
    background: url('Images/jenshinimpekz.svg');
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 25%;

    width: 100vw;
    height: 17vh;
}
.desctext{
    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 150px #000000;
}
.platform-box{
    background: rgba(217, 217, 217, 0.3);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);

    margin: auto;
    border-radius: 10px;
    
    width: 50vw;
    height: 13vh;
}
.platform{
    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 100px #000000;
    
    margin: 10px auto 10px auto;
}

.main-megatron-buttons{
    z-index: 200; 
    left: 30%; 
    bottom: 20%;
    
    margin-top: auto;
    border: none; 
    filter: drop-shadow(2px 2px 10px black);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-megatron-buttons > a{
    margin: 0 auto 0 auto;

    width: calc(50vw/4);
    scale: 1;

    opacity: 0.5;
    transition: .5s;
}
.main-megatron-buttons > a:hover{
    opacity: 1;
}

.megatron2{
    background: linear-gradient(to top, 
                                rgba(0, 0, 0, 1) 0%,
                                rgba(64, 64, 64, 0) 10%,
                                rgba(64, 64, 64, 0) 95%, 
                                rgba(0, 0, 0, 1) 100%), 
                url('Images/bg2.svg');
    background-size: cover;
    width: 100vw;
    height: 4000px;
}

.game-videos{
    margin-top:2.5%;

    flex-direction: row;
    align-items: center;
}
.videotitle img{
    margin-top: 10%;

    display: inline-block;
}
.videotitle div{
    display: inline-block;
}
.videotitle{
    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    width: 100vw;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 50px #000000;
}
.uppervid,.lowervid,.upperSS,.lowerSS{
    margin-top: 10%;

    display: flex;
    justify-content: space-evenly;
}
.lowervid{
    margin-top: 5%;

    justify-content: space-evenly;
}
.lowerSS{
    margin-top: 5%;
}
.up1, .up2, .up3,.low1,.low2,.SS1,.SS2,.SS3,.SS4,.SS5,.SS6{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url('Images/vid1.svg');
    
    border: 5px solid #FFFFFF;
    
    width: 20vw;
    height: 24vh;
}
.uppervid img, .lowervid img{
    position: relative;
    padding: auto;
    margin: auto;
    top: calc(50% - 25px);
    filter: drop-shadow(0 0 5px black);
    
    height: 50px;
    width: 50px;
    transition: .5s;
}
.lowervid div{
    margin-left: -15vw;
    margin-right: -15vw;
}
.uppervid img:hover,.lowervid img:hover{
    filter: drop-shadow(0 0 15px black);
    -webkit-filter: drop-shadow(0 0 15px black);
}
.up1{
    background: url('Images/vid1.svg');
}
.up2{
    background: url('Images/vid2.svg');
}
.up3{
    background: url('Images/vid3.svg');
}
.low1{
    background: url('Images/vid4.svg');
}
.low2{
    background: url('Images/vid5.svg');
}
.SS1, .SS2, .SS3, .SS4, .SS5, .SS6{
    transition: .5s;
}
.SS1{
    background: url('Images/ss1.svg');
}
.SS2{
    background: url('Images/ss2.svg');
}
.SS3{
    background: url('Images/ss3.svg');
}
.SS4{
    background: url('Images/ss4.svg');
}
.SS5{
    background: url('Images/ss5.svg');
}
.SS6{
    background: url('Images/ss6.svg');
}
.SS1:hover, .SS2:hover, .SS3:hover, .SS4:hover, .SS5:hover, .SS6:hover{
    filter: drop-shadow(0 0 20px black);
}


.game-SS{
    margin-top:2.5%;

    flex-direction: row;
    align-items: center;
}
.SStitle img{
    margin-top: 5%;

    display: inline-block;
}
.SStitle div{
    display: inline-block;
}
.SStitle{
    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    width: 100vw;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 50px #000000;
}


.game-Feature{
    margin-top:2.5%;

    flex-direction: row;
    align-items: center;
}
.Feature-title img{
    margin-top: 5%;

    display: inline-block;
}
.Feature-title div{
    display: inline-block;
}
.Feature-title{
    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 50px #000000;

    width: 100vw;
}
.feature{
    margin-top: 10%;
}
.f1,.f2{
    margin-top: 5%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.f1img,.f3img,.f5img{
    background-size: cover !important;
    background: url('Images/SS4.svg');
    background-repeat: no-repeat;
    
    border: 5px solid rgb(255, 255, 255);
    margin: 0;
    align-items: center;
    display: inline-block;

    width: 20vw;
    height: 24vh;
}
.f3img{
    background: url('Images/feat3.svg');
}
.f5img{
    background: url('Images/feat5.svg');
    background-size: 100%;
}
.f2img,.f4img{
    background-size: cover !important;
    background: url('Images/feat2.svg');
    background-repeat: no-repeat;

    align-items: center;

    border: 5px solid rgb(255, 255, 255);
    display: inline-block;
    margin: 0;

    width: 20vw;
    height: 24vh;
}
.f4img{
    background: url('Images/feat4.svg');
}
.f1desc,.f2desc{
    display: inline-block;

    background: rgba(217, 217, 217, 0.5);

    width: 50vw;
    height: 20vh;
}
.descTitleleft{
    text-align: left;
    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
}
.descTitleright{
    text-align: right;
    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.longslashleft{
    border: solid #FFFFFF;
    
    margin-left: 2%;
    margin-top: 0%;

    width: 50%;
}
.longslashright{
    border: solid #FFFFFF;
    
    float: right;
    margin-right: 2%;
    margin-top: 0%;

    width: 50%;
}
.descfullleft{
    font-family: 'HYWenHei';
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    
    margin-left: 2%;
    margin-top: 1%;
    
    width: 95%;
}
.descfullright{
    font-family: 'HYWenHei';
    font-style: normal;
    text-align: right;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    
    float: right;
    margin-right: 2%;
    margin-top: 1%;

    width: 95%;
}
.buttonchar{
    margin-top: 20%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonchar img{
    margin: 0;
}
.buttonpress{
    background-color: #2993F4;

    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 8vh;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    text-decoration: none;

    margin: 0;
    border-radius: 20px;
    border: none;

    width: 15vw;
    height:8vh !important;

    transition: .5s ease-in-out;
}

.buttonpress:hover{
    background-color: #D3B032;
}
@media only screen and (max-width: 2600px){
    .megatron2{
        height: 6300px;
    }
}
@media only screen and (max-height: 1500px){
    .platform-box{
        height: 100px;
    }
}
@media only screen and (max-height: 620px){
    .genshinlogo{
        visibility: hidden;
    }
}
@media only screen and (max-height: 400px){
    .platform-box{
        width: 700px;
    }
   
    .main-megatron-buttons{
        justify-content: center;
        flex-direction: row !important;
    }
}
@media only screen and (max-width: 700px){
    .platform-box{
        width: 300px;
        justify-items: center;
    }
}
@media only screen and (max-width: 1300px){
    .main-megatron-buttons > a{
        scale: 0.8;
    }
    
}
@media only screen and (max-width: 1000px){
    .main-megatron-buttons > a{
        scale: 0.6;
    }
    
}
@media only screen and (max-width: 935px){
    .main-megatron-buttons{
        flex-direction: column;
    }
    .main-megatron-buttons a{
        width: 50vw;
        scale: 1;
    }
    .platform-box{
        margin-top: 40px;
        height: fit-content;
    }
    
}

/* SEPERATE */

@media only screen and (max-width: 1100px){
    .videotitle,.SStitle,.Feature-title{
        font-size: 30px;
    }
    .uppervid,.lowervid,.upperSS,.lowerSS{
        flex-direction: column;
        align-items: center;
    }
    
    .lowervid{
        margin-top: 2%;
    }
    .SStitle img{
        display: none;
    }
    .videotitle img,.Feature-title img,.buttonchar img{
        display: none;
    }
    .megatron2{
        height: 5000px;
    }
    .up1,.up2,.up3,.low2,.SS1,.SS2,.SS3,.SS5,.SS6{
        width: 500px;
        height: 250px;
        margin-top: 2%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .low1,.SS4{
        width: 500px;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media only screen and (max-width: 1400px){
    .buttonpress{
        font-size: 15px;
    }
    .descfullleft,.descfullright{
        font-size: 15px;
    }
}
@media only screen and (max-width: 1180px){
    .descTitleleft,.descTitleright{
        font-size: 15px;
    }
    .descfullleft,.descfullright{
        font-size: 13px;
    }
    .f1img,.f2img,.f3img,.f4img,.f5img{
        display: none;
    }
    .f1desc,.f2desc{
        height: 150px;
        width: 100vw;
    }
}
@media only screen and (max-width: 900px){
    .f1desc,.f2desc{
        width: 100vw;
        align-items: center;
        height: 400px;
    }
    .descTitleleft,.descTitleright{
        font-size: 20px;
    }
}

@media only screen and (max-width: 630px){
    .f1desc,.f2desc{
        height: 400px;
    }
    .descTitleleft,.descTitleright{
        font-size: 14px;
    }
    .up1,.up2,.up3,.low2,.SS1,.SS2,.SS3,.SS5,.SS6{
        width: 400px;
        height: 250px;
    }
    .low1,.SS4{
        width: 400px;
        height: 250px;
    }
}
@media only screen and (max-width: 450px){
    .up1,.up2,.up3,.low2,.SS1,.SS2,.SS3,.SS5,.SS6{
        width: 250px;
        height: 75px;
    }
    .low1,.SS4{
        width: 250px;
        height: 75px;
    }
    .descTitleleft,.descTitleright{
        font-size: 13px;
    }
    .descfullleft,.descfullright{
        font-size: 10px;
    }

}
@media only screen and (max-width: 850px){
    .buttonpress{
        width: 30vw;
        font-size: 50%;
        
    }
}
@media only screen and (max-height: 900px){
    .up1,.up2,.up3,.low1,.low2,.SS1,.SS2,.SS3,.SS4,.SS5,.SS6{
        width: 300px;
        height: 200px;
    }
    .f1desc,.f2desc{
        height: 150px;
    }
    .megatron2{
        height: 4800px;
    }

}